/* Enter your custom styles here */

/* .toolHeaderTopBar  {
    background-color: aquamarine; 
} */

/* #toolHeaderTopBar  {
    background-color: aquamarine; 
} */
 
#application-app-preview-component---StudentTable--toolHeaderTopBar  {
    background-color: aquamarine;
}